main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.logo img {
  width: 150px;
  border-radius: 50%;
}

.info {
  max-width: 90%;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.icon {
  max-width: 30px;
}

.icon svg {
  fill: #2e33b9;
}

